.block{
    width: 180px;
    height: 60px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: rgb(253, 178, 81);
}
.circles{
    height: 30px;
    width: 30px;
    background-color: rgb(143, 142, 142);
    border: 1px black solid;
    border-radius: 50%;
    display: inline-block;
}
.squircles{
    width: 10px;
    height: 10px;
    margin: 0 auto;
    margin-bottom: 3px;
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
}
