body{
    background-color: rgb(144, 175, 136);
}
.block{
    width: 300px;
    height: 60px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: rgb(253, 178, 81);
}
.circles{
    height: 40px;
    width: 40px;
    background-color: lavender;
    border: 1px black solid;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
}
.squircles{
    width: 10px;
    height: 10px;
    border-radius: 4px;
    border: solid 1px rgb(0, 0, 0);
    display: inline-block;
}
.block>:nth-child(2){
    margin-left: 20px;
}
.div{
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    bottom: 4px;
    left: 10px;
}
.div>:nth-child(2),.div>:nth-child(4){
    margin-left: 5px;
}
#answer{
    background-color: rgb(253, 178, 81);
    width: 46px;
    height: 230px;
    position: absolute;
    display: inline-block;
    border: solid black 1px;
    top: 100px;
    left: 500px;
}
#answer>span,#colorPallet>span{
    margin-left: 2px;
}
#colorPallet{
    background-color: rgb(253, 178, 81);
    width: 46px;
    height: 340px;
    position: absolute;
    display: inline-block;
    border: solid black 1px;
    top: 100px;
    right: 500px;
}
#borderColor{
    border-color: chartreuse;
}
#check{
    background-color: lightslategray;
    border-color: black;
    text-align: center;
    position: absolute;
    display: inline-block;
    top: 460px;
    right: 497px;
}